.content {
  display: flex;
  flex-direction: column;


  &__primary {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #07203c 0%, #004ea8 43.75%, #f0f0f1 100%);
    color: #fff;
    padding: 80px 0;
  }

  &__secondary {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__container {
    width: 92vw;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quote {
    font-family: "Unbounded", sans-serif;
    width: 90vw;
    max-width: 915px;
    padding: 50px;
    position: relative;
    font-weight: 500;
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;

    &--white {
      color: #fff;
    }

    &__border {
      border: 1px solid #f2f2f2;
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      transition: all .3s ease;
    }

    &--blue {
      color: #004ea8;

      .quote__border {
        border: 1px solid #004ea8;
      }
    }

    &.active {
      .quote__border {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    gap: 5%;
    padding: 80px 0;

    &--primary {
      color: #fff;
    }
  }

  &__block-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 80px;
    width: 55%;
    position: relative;
    z-index: 1;
  }

  &__block {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }

  &__title {
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    padding-left: 7vw;

    @media (min-width: 1440px) {
      padding-left: 100px;
    }
  }

  &__image-wrapper {
    width: 50%;
    position: relative;
    z-index: 0;
  }

  &__image {
    position: sticky;
    top: 0;
    z-index: 0;
  }

  &__image-container {
    position: relative;
}

  &__element {
    position: absolute;

    &--1 {
      background: url(@img/content-element-1.webp) center no-repeat;
      background-size: contain;
      width: 33%;
      aspect-ratio: 1/1;
      left: 20px;
      top: -45px;
    }
    &--2 {
      background: url(@img/element-2.webp) center no-repeat;
      background-size: contain;
      width: 33%;
      aspect-ratio: 1/1;
      right: -17%;
      top: 32%;
    }
    &--3 {
      background: url(@img/content-element-2.webp) center no-repeat;
      background-size: contain;
      width: 33%;
      aspect-ratio: 1/1;
      left: 20px;
      top: -45px;
    }
  }

  &__spring {
    position: absolute;
    bottom: 155px;
    right: -155px;
    z-index: 1;
  }

  &__big-image {
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.inset-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Unbounded", sans-serif;
  font-weight: 500;
  font-size: 35px;
  line-height: 120%;
  text-transform: uppercase;
  color: #004ea8;
  margin-bottom: 20px;
}
