.main-slider {
    position: relative;
    display: flex;
    align-items: stretch;
    gap: 20px;
    transition: all 0.3s ease;
    padding-bottom: 80px;
    // max-width: 1440px;
    // margin: 0 auto;

    &.expanded {
        padding: 0 !important;
    }

    &__left {
        display: flex;
        align-items: center;
        position: relative;
        width: 400px;
        transition: all 0.3s ease;

        &.hidden {
            opacity: 0;
            visibility: hidden;
            width: 0;
            overflow: hidden;
        }
    }

    &__atom {
        position: absolute;
        right: 420px;
        width: 261px;
        height: 261px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 400px;
    }

    &__title {
        font-family: "Unbounded", sans-serif;
        font-weight: 500;
        font-size: 50px;
        line-height: 120%;
        text-transform: uppercase;
        color: #004ea8;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: #2d2d2d;
    }

    &__button {
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        color: #004ea8;
        cursor: pointer;
        width: 300px;

        img {
            width: 49px;
            height: 49px;
        }
    }

    &__right {
        padding: 0 20px;
         transition: width 0.5s, flex-grow 0.5s;
        width: calc(1440px - 400px);
        flex-grow: 0;
        position: relative;

        &:after {
            content: '';
            width: 100%;
            height: 0;
            background: #004ea8;
            position: absolute;
            top: 2px;
            left: 0;
            border-top: 1px solid #004ea8;
        }
        &:before {
            content: '';
            width: 14px;
            height: 5px;
            background: #004ea8;
            position: absolute;
            top: 0;
            left: 0;
        }

        &.expanded {
            width: 100%;
            flex-grow: 1;

            &:before {
                display: none;
            }

            .slider {
                width: 100%;
            }
        }
    }
}

.slider {
    position: relative;
    width: 760px;
    overflow: hidden;
    padding-left: 80px;
    margin-left: 0;
    z-index: 2;

    &__container {
        z-index: 2;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;
        width: 298px !important;
        cursor: pointer;
        padding-top: 60px;
        z-index: 1;

        &.disabled {
            pointer-events: none;

            .slider__image {
                filter: grayscale(1);
            }
        }

        &.swiper-slide-active:after {
            z-index: 2;
            content: '';
            position: absolute;
            background: #f2f2f2;
            width: 100px;
            height: 100%;
            left: -100px;
            top: 5px;
        }

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            font-family: "Unbounded", sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            color: #b5b5b5;
            width: 86px;
            border-top: 5px solid transparent;
            padding-top: 5px;
            transition: all .3s ease;
        }

        &--1:before {
            content: '01';
        }
        &--2:before {
            content: '02';
        }
        &--3:before {
            content: '03';
        }
        &--4:before {
            content: '04';
        }
        &--5:before {
            content: '05';
        }
        &--6:before {
            content: '06';
        }
        &--7:before {
            content: '07';
        }
        &--8:before {
            content: '08';
        }
        &--9:before {
            content: '09';
        }
        &--10:before {
            content: '10';
        }

        &:hover:before {
            border-color: #004ea8;
            font-size: 25px;
            color: #004ea8;
        }
    }

    &__image {
        position: relative;
        width: 298px;
        height: 410px;
        background: #D9D9D9;
        z-index: 3;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: url("/img/gradient.webp");
            z-index: 0;
            opacity: 0;
            transition: all 0.3s ease;
        }

        img {
            position: relative;
        }

         &--1 {
            .slider__element--1 {
                background: url(@img/slide-1-element-1.webp) center no-repeat;
                background-size: contain;
                width: 112px;
                height: 112px;
                left: -60px;
                top: 210px;

            }
            .slider__element--2 {
                background: url(@img/slide-1-element-1.webp) center no-repeat;
                background-size: contain;
                width: 65px;
                height: 65px;
                right: 15px;
                top: 30px;
            }

        }
        &--2 {
            .slider__element--1 {
                 background: url(@img/slide-2-element-1.webp) center no-repeat;
                background-size: contain;
                width: 254px;
                height: 251px;
                left: -20px;
                top: 135px;
            }
            .slider__element--2 {
                 background: url(@img/slide-2-element-2.webp) center no-repeat;
                background-size: contain;
                width: 82px;
                height: 114px;
                right: -10px;
                top: 20px;
            }
        }
    }

    &__element {
        position: absolute;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &__text {
        width: 100%;
        padding: 20px 0;
        height: 100px;

        h3 {
            font-family: "Unbounded", sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height: 120%;
            text-transform: uppercase;
            color: #b5b5b5;
            margin: 0;
            transition: all 0.3s ease;
        }

        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            color: #004ea8;
            transition: all 0.3s ease;
            opacity: 0;
        }
    }

    .slider__item:hover {
        .slider__image:before {
            opacity: 1;
        }

        .slider__element {
            opacity: 1;
        }

        .slider__text h3 {
           font-size: 25px;
            color: #2d2d2d;
        }

        .slider__text p {
            opacity: 1;
        }
    }

    &__button {
        position: absolute;
        height: 560px;
        width: 70px;
        padding-top: 60px;
        bottom: 0;
        padding-bottom: 100px;
        background: #f2f2f2;
        display: flex;
        align-items: center;
        z-index: 2;
        cursor: pointer;

        &--prev {
            left: 0;
            justify-content: flex-start;
            padding-left: 20px;
            background: transparent;

            &.hidden {
                 .slider__button--container {
                     display: none;
                 }
            }

            img {
                transform: rotate(180deg);
            }
        }

        &--next {
            right: 0;
            padding-right: 20px;
            justify-content: flex-end;
        }

        &.full-slider-btn {
            right: 0;
            padding-right: 20px;
            justify-content: flex-end;

            &.hidden {
                display: none;
            }
        }
    }

    &__button--container {
        position: relative;

        .button__border {
            position: absolute;
            width: 50px;
            height: 50px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: all 0.3s ease;

            &:hover {
                width: 45px;
                height: 45px;
            }
        }

    }

    &__pagination {
        display: none;
    }
}
