@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  width: 100%;
  margin:0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  position: relative;
  -webkit-text-size-adjust: none;
  margin: 0;
  overflow-x: hidden;
  background: #f2f2f2;

}
main {

}
section {

}
a {
  color: inherit;
  text-decoration: none;
  cursor:pointer;
  transition: all .1s ease 0s;
}
input, textarea, select, button {
  font-family: inherit;
  outline: none;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
  &::placeholder {

  }
  &:focus::placeholder {
    visibility: hidden;
  }
}
input[type='number'] {
  -moz-appearance:textfield;
}
img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}
p {
  margin-top: 0;
  margin-bottom: 10px;
}

.h1 {

}
.h2 {

}
.svg {
  display: none;
}

.main-width {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;

}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .3s ease;
  @media (min-width: 768px) {

  }
  &:hover {

  }
}

/* header */
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 43px 0;

  .header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: calc(50% - 195px - 85px);
      height: 1px;
      background: #ffffff;
      top: 0;
      left: 195px;
    }

    &::after {
      content: '';
      position: absolute;
      width: calc(50% - 195px - 85px);
      height: 1px;
      background: #ffffff;
      top: 0;
      right: 195px;
    }

    &__logo {
      flex: 1;

      &--womanru {
        text-align: right;
      }
    }

    &__center {
      font-family: "Unbounded", sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      text-transform: uppercase;
      text-align: center;
      color: #fff;
      position: relative;
      margin-top: -12px;
      cursor: pointer;

      &:hover, &.active {
        text-decoration: underline;
      }
    }
  }

  &.inset {
    padding: 20px 0;
    background: url("@img/header-inset.svg") center no-repeat;
    .header {
      max-width: 1250px;
      height: 78px;
      &:before, &:after {
        display: none;
      }
    }
  }
}


/* index-page */
.index-page {

  .top-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 938px;
      background: url("@img/bg.webp") bottom center no-repeat;
      background-size: cover;
      animation: pulse 3s ease-in-out infinite;
    }

    &__content {
      width: 100%;
      max-width: 1045px;
      position: relative;
      transition: all .3s ease;

      &.hidden {
        opacity: 0;
        visibility: hidden;
      }
    }

    &__title {
      font-family: "Unbounded", sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      text-transform: uppercase;
      color: #fff;

      h1 {
        font-weight: 400;
        font-size: 100px;
        line-height: 116%;
        margin: 0;
      }
    }

    &__text {
      position: absolute;
      right: 0;
      top: 270px;
      width: 617px;
      font-weight: 400;
      font-size: 18px;
      line-height: 120%;
      color: #fff;
    }

    &__star {
      position: absolute;
      right: 115px;
      top: -110px;
    }

    &__spring {
      position: absolute;
      left: 80%;
      top: 100px;
      transition: all .3s ease;

      &.hidden {
        opacity: 0;
        visibility: hidden;
      }
    }

    &__nav {
      position: absolute;
      top: -100vh;
      left: 0;
      right: 0;
      bottom: 0;
      height: 100vh;
      opacity: 0;
      transition: all .3s ease;

      &.active {
        opacity: 1;
        top: 0;
      }
    }
  }
}



.border {
  position: relative;
  width: 100%;
  height: 100%;

  div {
    position: absolute;
    width: 6px;
    height: 6px;

    &:nth-child(1) {
      top: 0;
      left: 0;
      background:url("@img/border-1.webp");
    }
    &:nth-child(2) {
      top: 0;
      right: 0;
      background:url("@img/border-2.webp");
    }
    &:nth-child(3) {
      bottom: 0;
      right: 0;
      background:url("@img/border-3.webp");
    }
    &:nth-child(4) {
      bottom: 0;
      left: 0;
      background:url("@img/border-4.webp");
    }
  }

  &--blue {
    div {
      &:nth-child(1) {
        background:url("@img/border-blue-1.webp");
      }
      &:nth-child(2) {
        background:url("@img/border-blue-2.webp");
      }
      &:nth-child(3) {
        background:url("@img/border-blue-3.webp");
      }
      &:nth-child(4) {
        background:url("@img/border-blue-4.webp");
      }
    }
  }
}

.spring {
  position: relative;
  width: 329px;
  height: 250px;


  &__item {
    position: absolute;
    left: 0;

    &--1 {
      top: 0;
      z-index: 5;
    }
    &--2 {
      top: 20%;
      z-index: 4;
    }
    &--3 {
      top: 40%;
      z-index: 3;
    }
    &--4 {
      top: 60%;
      z-index: 2;
    }
    &--5 {
      top: 80%;
      z-index: 1;
    }
  }

  &__item-container {
    position: relative;
  }

  &__ball {
    position: absolute;

    &--1 {
      top: 68%;
      left: 68%;
      //animation: ballOrbit 20s linear infinite;
    }
    &--2 {
      top: -5%;
      left: 15%;
      //animation: ballOrbit 20s linear infinite;
    }
    &--3 {
      width: 199px;
      height: 249px;
      top: 7%;
      left: 44%;
      //animation: ballOrbit 20s linear infinite;
    }
  }
}



/* navbar example */

.navbar-btn {
  width: 29px;
  min-width: 29px;
  height: 29px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;

  &__span {
    display: flex;
    height: 2.5px;
    background: $White;
    transition: all linear .3s;

    &_first {
      width: 16px;
    }

    &_second {
      width: 25px;
    }

    &_third {
      width: 18px;
    }
  }

  &_close {
    .navbar-btn__span {
      &_first {
        width: 25px;
        transform: rotate(45deg);
        margin-bottom: -15px;
      }
      &_second {
        width: 0;
        align-self: center;
      }
      &_third {
        width: 25px;
        transform: rotate(-45deg);
      }
    }
  }

  @media (min-width: 768px) {
    display: none;
  }
}

.footer {
  display: flex;
  height: 122px;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 20px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }

  &__copyright {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: #2d2d2d;
  }

  &__links {
    width: 162px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}




/* keyframes example */

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.97;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ballOrbit {
  0% {
    /* Начинаем справа */
    top: 68%;
    left: 68%;
  }

  25% {
    /* Двигаемся вверх по эллипсу */
    top: 25%;
    left: 90%;
  }

  50% {
    /* Двигаемся влево по эллипсу */
    top: 6%;
    left: 34%;
  }

  75% {
    top: 50%;
    left: 0;
  }

  100% {
    /* Возвращаемся вправо */
    top: 68%;
    left: 68%;
  }
}

