.top-block-inset {
    max-width: 1250px;
    padding-top: 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 20px;


  &__left {
    width: 50%;
    display: flex;
    flex-direction: column;
  }

  &__counter {
    margin-top: 74px;
    width: 60%;
    font-family: "Unbounded", sans-serif;
  }

  &__counter-list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    span {
      font-weight: 500;
      font-size: 25px;
      line-height: 120%;
      color: #004ea8;
      width: 56px;
      display: flex;
      border-top: 5px solid #004ea8;
      padding-top: 10px;
    }

    a {
      font-weight: 400;
      font-size: 20px;
      line-height: 120%;
      color: #b5b5b5;
      width: 56px;
      display: flex;
      padding-top: 15px;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
  }

  &__job {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-transform: uppercase;
    color: #004ea8;
    font-family: "Unbounded", sans-serif;
  }

  &__name {
    font-weight: 400;
    font-size: 7.9vw;
    line-height: 110%;
    text-transform: uppercase;
    color: #2d2d2d;
    font-family: "Unbounded", sans-serif;

    @media (min-width: 1250px) {
      font-size: 100px;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 1.4vw;
    line-height: 120%;
    text-transform: uppercase;
    color: #004ea8;
    width: 50%;
    border-left: 1px solid #004ea8;
    padding-left: 20px;
    position: relative;
    margin-top: 30px;
    margin-left: 32%;

    @media (min-width: 1250px) {
      font-size: 18px;
    }


    &::before {
      content: '';
      position: absolute;
      left: -2px;
      bottom: 0;
      width: 5px;
      height: 55%;
      background: #004ea8;

    }
  }

  &__right {
    position: relative;

    &--1 {
      .top-block-inset__element--1 {
        top: 10%;
        width: 36%;
        left: 0;
        transform: translateX(-50%);
      }
    }
  }
  &__element {
    position: absolute;

  }
}
